.module:nth-of-type(2n) { background: #EFEFEF; }
.module h2 { text-align: center; }
.module blockquote { margin: 1em 0; }
.module figure { margin: 1em 0; }

.module-overlay { padding: 4.375rem 0; }

.module-title { line-height: 1.2em; text-align: center; }
.module-subtitle { text-align: center; font-style: italic; }

.cta-button { 
	display: block;
	padding: 5px 0; margin: 1rem 0;;
	@extend .ideal-caps_300; font-size: 1rem; text-align: center; 
}
@media (min-width: 361px) {
	.cta-button { max-width: 240px; margin: 2.56em auto 0; }
}

.cta-button,
.cta-button:link,
.cta-button:visited {
	display: block; 
	padding: 10px 25px;
	color: #FFF;
	background: $orange; 
	border: 1px solid $orange; border-radius: 5px;
}
.cta-button:hover {
	background: lighten($orange, .1); 
}

.thumb-link { 
	display: inline-block; 
	margin: 1em 1px 1em 5px; 
	vertical-align: top; 
}
.thumb-link:first-of-type { margin: 1em 1px 1em 0; }
.thumb-link:last-of-type { margin: 1em 0 1em 5px; }

.thumb { width: 152px; }