.ideal-sans { font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B'; }
.ideal-sans_300 { font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B'; font-weight: 300; }
.ideal-sans_400 { font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B'; font-weight: 400; }
.ideal-sans_500 { font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B'; font-weight: 500; }
.ideal-sans_700 { font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B'; font-weight: 700; }
.ideal-caps { font-family: 'Ideal Sans SSm Caps A', 'Ideal Sans SSm Caps B'; }
.ideal-caps_300 { font-family: 'Ideal Sans SSm Caps A', 'Ideal Sans SSm Caps B'; font-weight: 300; }
.ideal-caps_400 { font-family: 'Ideal Sans SSm Caps A', 'Ideal Sans SSm Caps B'; font-weight: 400; }
.ideal-caps_500 { font-family: 'Ideal Sans SSm Caps A', 'Ideal Sans SSm Caps B'; font-weight: 500; }
.ideal-caps_700 { font-family: 'Ideal Sans SSm Caps A', 'Ideal Sans SSm Caps B'; font-weight: 700; }
.rambla { font-family: 'Rambla', sans-serif; }
.source-sans { font-family: 'Source Sans Pro', sans-serif; }
.source-sans_300 { font-family: 'Source Sans Pro', sans-serif; font-weight: 300; }
.source-sans_400 { font-family: 'Source Sans Pro', sans-serif; font-weight: 400; }
.source-sans_500 { font-family: 'Source Sans Pro', sans-serif; font-weight: 500; }
.source-sans_700 { font-family: 'Source Sans Pro', sans-serif; font-weight: 700; }
.whitney { font-family: 'Whitney SSm A', 'Whitney SSm B'; }
.whitney_300 { font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 300; }
.whitney_500 { font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 500; }
.whitney_700 { font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 700; }